.navbar{
    background-color: #21325e;
    justify-content: space-between;
    color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.links{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
h3{
    color: #fff;
    text-decoration: none;
    margin-left:10px;
}
#open{
    height: 100vh;
} 
#open .links{
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}
a{
    margin-left: 40px;
}